
body {
    text-align: center;
    font-family: 'Arial', sans-serif; 
    background-color: #f5f5f5; 
    margin: 0;
    padding: 0;
}


.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}


.btn:hover {
    transform: scale(1.1); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Color Classes */
.red {
    background: #d95980;
}

.green {
    background: #63aac0;
}

.yellow {
    background: #f99b45;
}

.purple {
    background: #819ff9;
}

.flash {
    background-color: white;
    color: #333; 
}

.userflash {
    background-color: green;
    color: white;
}


.btn-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px;
    padding: 20px;
}
